<h1>ZeroChat</h1>
<p><b>Zero JavaScript</b> in your browser.</p>
<p><b>Zero accounts</b>, <b>cookies</b>, or <b>logs</b>.</p>
<p>No tracking, fingerprinting, or data storage.</p>

<h2>Maximum-level privacy</h2>
<p>ZeroChat is a simple a realtime live chat. Each message is showing in a sandboxed iframe that blocks JavaScript from even running.</p>
<p>No JavaScript on the browser means no capacity for fingerprinting, tracking, or any kind of exploitation.</p>
<p>Don't believe it? Check the source code yourself on <a href='https://github.com/WR4F/ZeroChat'>Github</a>.</p>

<h2>Web File Transfer</h2>
<p>Share a URL like <a href='/secret-room'>/secret-room</a> with a friend or yourself to transfer files.</p>
<p>Send and receive files without any data stored, all transfers done entirely in memory.</p>
<p>Nobody knows what room you're in and no user data is ever created or stored.</p>

<h2>Anonymous Identity</h2>
<p>When you join with a passcode, a unique string of characters shows up to identify you next to your name.</p>
<p>This value does not change and is generated based on the passcode entered, providing a way to identify users.</p>
<p>Nobody knows what rooms are being used, and all data is eliminated after each message post.</p>
