<!DOCTYPE html>
<html>

<head>
	<title>ZeroChat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='/stylesheets/normalize.css' />
	<link rel='stylesheet' href='/stylesheets/base.css' />
	<!-- <link rel='stylesheet' href='/stylesheets/dark.css' /> -->
</head>

<body>
	<%- include(page) %>