<% if (typeof redirect != "undefined") { %>
<form action="<%= redirect %>" method="POST">
	<% } else { %>
	<form action="" method="POST">
		<% } %>
		<div id="settings" <% if (typeof snapbottom != "undefined" && snapbottom) { %> class="snapbottom" <% } %>>
			<input type="checkbox" id="checkshow">
			<label for="checkshow"></label>
			<div id="settings_options">
				<input type="hidden" name="settings" value="true">

				<label>Theme</label>

				<select name="theme" id="themepicker">
					<% locals.config.themes.forEach( curTheme => { %>
					<option <% if (curTheme == (theme || locals.config.DEFAULT_THEME)) { %> selected <% } %>
						name="theme" value="<%= curTheme %>">
						<%= curTheme %>
					</option>
					<% }) %>
				</select>

				<label>File Previews</label>
				<input type="checkbox" name="inlineView" id="inlineView"
					<% if (typeof inlineView != "undefined" && inlineView) { %> checked <% } %> />
				<label for="inlineView" class="forCheckbox">🗸</label>

				<!-- <label>View</label>
				<select name="theme" id="themepicker">
					<option selected name="theme" value="Comfy">Comfy</option>
					<option selected name="theme" value="Compact">Compact</option>
				</select> -->

				<input type="submit" id="settings-save" value="Apply" />
			</div>

		</div>
	</form>
	<% if (typeof snapbottom != "undefined" && snapbottom) { %>
	<style>
		html,
		body {
			background-color: transparent;
		}
	</style>
	<% } %>