<!-- Leaving the action blank submits to the same page -->
<form id="upload" enctype="multipart/form-data" action="" method="post">
	<input name="token" type="hidden" value="<%= user.token %>" />
	<div id="uploadsubmit">
		<input tabindex="1" id="fileupload" name="fileupload" type="file" />
		<input tabindex="2" type="submit" value="Upload">
		<!-- <label tabindex="1" for="fileupload">File...</label> -->
	</div>
</form>
