<!-- Leaving the action blank submits to the same page -->
<form id="post" action="" method="post">
    <input name="token" type="hidden" value="<%= token %>"></input>

    <input maxlength="200" type="text" name="message" id="messagebox" placeholder="Write a message here" autofocus
        autocomplete="false">
    <input type="submit" value="Send">
</form>