<!-- Leaving the action blank submits to the same page -->
<form id="post" enctype="multipart/form-data" action="" method="post">
	<input name="token" type="hidden" value="<%= user.token %>"></input>

	<input maxlength="<%= maxlen %>" type="text" name="message" id="messagebox" placeholder="<%= placeholder %>"
		autofocus autocomplete="off">

	<input type="submit" style="display: none;" value="Send">
</form>