<h1>ZeroChat</h1>
<p><b>Zero JavaScript</b> in your browser.</p>
<p><b>Zero accounts</b>, <b>cookies</b>, or <b>logs</b>.</p>
<p>No tracking, fingerprinting, or data storage.</p>
<br/>
<p>Send files to your friends (or yourself) by having your browsers go to the same room name, such as <a href='/secret-room'>/secret-room</a>.
When you join with a passcode, a unique string of characters shows up to identify you next to your name.
All data about a message is securely deleted from memory after each message has been sent.</p>
