<!-- SEO -->
<meta property="og:title" content="ZeroChat" />
<meta property="og:description" content="Realtime web chat. No accounts. Zeros javascript, cookies, logs, fingerprinting, or tracking of any kind." />
<meta property="og:image" content="https://chat.justhack.in/images/preview.png" />
<meta property="og:url" content="https://chat.justhack.in" />
<meta property="og:site_name" content="chat.justhack.in" />
<meta property="og:type" content="website" />

<!-- Twitter Card tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="ZeroChat" />
<meta name="twitter:description" content="Realtime web chat. No accounts. Zeros javascript, cookies, logs, fingerprinting, or tracking of any kind." />
<meta name="twitter:image" content="https://chat.justhack.in/images/preview.png" />

<!-- Additional meta tags -->
<meta name="description" content="Realtime web chat. No accounts. Zeros javascript, cookies, logs, fingerprinting, or tracking of any kind." />
<link rel="canonical" href="https://chat.justhack.in" />
